body{
    background-color: lightgrey;

}
h1{
    color: blue;
    
}
.p1{
    background-color: yellow;
    color: black;
    text-align: left;
}
.p2{
    background-color: yellow;
    color: black;
    text-align: right;
}
.p3{
    background-color: yellow;
    color: black;
    text-align: center;
}