Div1{
    Border-shadow: 80% breed;
    Hoogte : 80px;
    font-size: 20px;
    margen : auto;
    margin-top: 3%
}

Div2{
   border-shadow:  80% breed;
    height : 220px;
    font-size: 15px;
    margin-left :5%;
    margin-bottom: 3%;
}



