




.odd{
    background-color: pink;
    font-family: Verdana, sans-serif;


}


#kimlik{

    color: blue;
    font-size: 36px;

}


p#cooler.odd{
    font-size: 24px;

}


#benzersiz{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;

}