
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

header h1{
  color: green;
  font-size: 50px;
  text-align: center;
}
header img{
  float: left;
  width: 100px;
  height: 100px;

}
.active {
  background-color: green;
}
h2{
  font-size: 25px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px lightblue,0px -5px 5px lightseagreen;
  
}
header h1{
  color: white;
}
body{
  background-color: green;
}
body p{
  font-size: 20px;
  color: white;
  text-align: center;
}
footer {
  position: center;
  left: 8px;  
  bottom: 3px;  
  right: 8px;   
  width: 95%;  
  background-color: black;  
  color: white;  
  text-align: center;
}
img{
  max-width: 100%;
  height: auto;
 
}
@media screen and (max-width:500px) {
  .navbar {
    width: 100%;
    background-color: green;
    overflow: auto;
  }
  

  .navbar a {
    float: left;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .navbar a:hover {
    background-color: green;
  }

}
.time{
  font-size: medium;
}