body{
    background-image: linear-gradient(rgb(25, 134, 25), rgb(56, 50, 50));
    scroll-behavior: smooth;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

nav{
    font-family: 'Slim Jim', 'Impact', 'Arial Black', sans-serif;
}


*{transition:all 0.3s ease-in-out;}

.container{
  clear:both;
  overflow:auto;
}

nav{float:right;}

.logo img{
  margin-left: 40%;

}

ul li{
  display: inline-block; padding:20px;
  font-size:60px; font-family:raleway;
}

ul li:hover{
  color:white;
  
}

li a{
    text-decoration: none;
    color:  white;
}

.welcome{
    text-align: center;
    color: white;
}
 h1{
    font-size: 130px;
    font-family:"Segoe Script" ;
}
p{
    font-family: "Palatino Linotype";
    font-size: 30;
}

.column {
    align-items: center;
    width: 33.33%;
    padding: 80px;
    display: inline;
    margin-right: 90px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .socials{

    color: white;
    font-size: 40px;
    margin: 10px;
    display: inline;
  }
  .wrapper {
    background:transparent;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
  }
  
  .wrapper .form input {
    background: #222222;
    color: white;
    font-size: 15px;
    width: 450px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .wrapper .form textarea {
    background: #222222;
    color: white;
    font-size: 15px;
    width: 450px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
  }
  
  .wrapper .form .btn {
    background: #222222;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    opacity: 0.8;
    transition: 0.3s all ease;
  }
  
  .wrapper .form .btn:hover {
    opacity: 1;
  }
  
  .content {
    text-align: center;
    background: transparent;
    color: white;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .content p {
    margin-bottom: 15px;
    width: 450px;
  }
